<h3>Place your vote!</h3>

<table class="table">
    <thead class="episode">
    <tr>
        <th>Series</th>
        <th>Title</th>
        <th>Week</th>
        <th>Air Date</th>
        <th>Score</th>
    </tr>
    </thead>
    <tbody>
    {{#each model.episodes as |episode|}}
        <tr class="episode">
            <td>{{episode.series.title}}</td>
            <td>{{episode.title}}</td>
            <td>{{episode.weekIndex}}</td>
            <td>{{episode.formattedAirDate}}</td>
            <td><input type="text" id="score_{{episode.id}}" /></td>
        </tr>
    {{/each}}
    </tbody>
</table>

<div style="background: #ddd; margin-bottom: 5px;">
Comment: {{input value=comment}}
</div>
<button {{action 'submitVote'}} class="btn btn-default">Submit Vote</button>

{{#link-to 'index'}}
    <button class="btn btn-default">Cancel</button>
{{/link-to}}
