<style>
    .table-striped tr td {
        padding: 6px;
    }

    .table-striped tr th {
        padding: 6px;
    }
</style>

<div class="row">
    <div class="col-md-8" style="background: #eee;">
        <div style="min-height: 300px">
            <img src="assets/images/chart.png">
        </div>
        <h3>Last Week's Results</h3>
        <table class="table-striped" style="width: 100%">
            <thead>
            <th>Rank</th>
            <th>Series</th>
            <th>Episode</th>
            <th style="text-align: right;">% of Ballots</th>
            <th style="text-align: right;">Change</th>
            </thead>
            <tbody>
            {{#each model.voteSummaries as |voteSummary|}}
                <tr>
                    <td>{{voteSummary.rank}}</td>
                    <td>{{voteSummary.series.title}}</td>
                    <td>{{voteSummary.episodeIndex}}</td>
                    <td style="text-align: right;">{{voteSummary.formattedPercentage}}</td>
                    <td style="text-align: right;">{{voteSummary.change}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
    <div class="col-md-4" style="min-height: 300px; background: #eee; border: 1px solid gray;">
        <div style="padding: 4px; font-size: 24px; font-weight: bold; text-align: center;">
            3 days, 22 hrs, 26 mins
        </div>
        <h3>Current Ballot</h3>
        <table class="table-striped" width="100%">
            <tbody>
            {{#each model.ballotVotes as |ballotVote|}}
                <tr>
                    <td width="75%">{{ballotVote.episode.series.title}}</td>
                    <td>{{ballotVote.score}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>

        {{#if model.loggedIn}}
            <div style="margin: 10px 0 10px 0; background: #fff; border: 1px solid #888; padding: 5px; ">
                {{#each model.ballots as |ballot|}}
                    Comment: {{ballot.comment}}
                {{/each}}
            </div>
            {{#link-to 'configured.voting' model.userId class="btn btn-default"}}Edit{{/link-to}}

            <h3>Current Tasks</h3>
            <table class="table-striped" width="100%">
                <tbody>
                {{#each model.tasks as |task|}}
                    <tr>
                        <td width="75%">{{task.name}}</td>
                        <td>{{task.formattedDueDate}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        {{/if}}
        {{#unless model.loggedIn}}
            Log in so that you can vote!
        {{/unless}}
    </div>
</div>

<div class="row" style="margin-top: 10px; border: 1px solid black; background: #ccc; padding: 6px">
    <div class="col-md-8">
        {{link-to 'Review Episodes' 'episodes.calendar'}}
        |
        {{link-to 'Manage Friends' 'friends'}}
    </div>
    <div class="col-md-4" style="text-align: right">
        Updated 2015, released by
        <a {{action 'noAction' preventDefault=false}}
                href="http://www.linkedin.com/in/brandon-risberg-84900414/">AnimeBallot.com</a>
    </div>
</div>