<style>
    .table-striped tr td {
        padding: 6px;
    }

    .table-striped tr th {
        padding: 6px;
    }
</style>

<div class="row">
    <div class="col-md-8" style="background: #eee;">
        <div style="min-height: 300px">
            <img src="assets/images/chart.png">
        </div>
        <h3>Last Week's Results</h3>
        <table class="table-striped" style="width: 100%">
            <thead>
            <th>Rank</th>
            <th>Title</th>
            <th>Episode</th>
            <th>% of Ballots</th>
            <th>Change</th>
            </thead>
            <tbody>
            {{#each model.resultList as |resultList index|}}
                <tr>
                    <td>{{index}}</td>
                    <td>{{resultList.title}}</td>
                    <td>{{resultList.episodeIndex}}</td>
                    <td>{{resultList.percent}}</td>
                    <td>{{resultList.change}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
    <div class="col-md-4" style="min-height: 300px; background: #eee; border: 1px solid gray;">
        <div style="padding: 4px; font-size: 24px; font-weight: bold; text-align: center;">
            3 days, 22 hrs, 26 mins
        </div>
        <h3>Current Ballot</h3>
        <table class="table-striped" width="100%">
            <tbody>
            {{#each model.ballotVotes as |ballotVote|}}
                <tr>
                    <td>{{ballotVote.episode.series.title}}</td>
                    <td>{{ballotVote.score}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
        <div class="background: #888">
            {{model.comment}}
        </div>
        {{#link-to 'voting' class="btn btn-default"}}Edit{{/link-to}}
    </div>
</div>

<div class="row" style="margin-top: 10px; border: 1px solid black; background: #ccc; padding: 6px">
    <div class="col-md-8">
        {{link-to 'Review Episodes' 'episodes.calendar'}}
        |
        {{link-to 'Manage Friends' 'friends'}}
    </div>
    <div class="col-md-4" style="text-align: right">
        Updated 2015, released by
        <a {{action 'noAction' preventDefault=false}}
                href="http://www.linkedin.com/in/brandon-risberg-84900414/">AnimeBallot.com</a>
    </div>
</div>